<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Partidos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="container">
  <header class="d-flex flex-row justify-content-end mb-4 mt-4">
    <button (click)="create()" class="btn btn-outline-primary float-right">Adicionar partido</button>
  </header>
  <main role="main">
    <div class="">

      <table class="table table-hover table-bordered table-striped">
        <thead>
        <tr>
          <th>Nome</th>
          <th>Sigla</th>
          <th>Número</th>
          <th>Fundo</th>
          <th class="w-10">Opções</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let partido of partidos">
          <td>{{partido.nome}}</td>
          <td>{{partido.sigla}}</td>
          <td>{{partido.numero}}</td>
          <td>{{partido.fundo}}</td>
          <td class="w-10">
            <div class="btn-group-sm">
              <button class="btn btn-sm btn-outline-warning" (click)="openModal(partido)">
                <i class="eva eva-edit-outline"></i>
              </button>
              <button class="btn btn-sm btn-outline-danger" (click)="removerPartido(partido)">
                <i class="eva eva-trash-outline"></i>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </main>
  <footer class="footer">
    <p>&reg; Rafael 2018</p>
  </footer>
</div>
